@use './media' as media;

.click-new {
    background: none;
    border: none;
    i {
        margin-right: 1rem;
        font-size: 1.4rem;
    }

    &:hover {
        opacity: 0.4;
    }
}

.pin-content {
    p {
        margin-bottom: 4rem;
    }
}

.main-feed, .user-feed {
    list-style: none;
    display: grid;
    padding: 0;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-auto-rows: 42vh;
    row-gap: 6rem;

    @include media.mobile {
        row-gap: 3rem;
    }

    .post {
        border: 2px solid black;

        @include media.mobile {
            margin-bottom: 1rem;
        }

        .mini-profile {
            margin-top: 1rem;

            img {
                width: 2rem;
                height: 2rem;
            }
        }

        > a {
            display: block;
            height: 100%;
            outline: 0px solid;
            transition: outline 0.2s;

            &:hover {
                filter: drop-shadow(4px 10px 8px black);
                outline: 3px solid black;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        p {
            color: white;
            letter-spacing: 0.02em;
            text-overflow: ellipsis;
            margin: 0rem 0.5rem;
            height: 17%;
            overflow: hidden;
            margin-top: 0.5rem;

            &:before {
                content:'';
                width:100%;
                height:100%;    
                position:absolute;
                left:0;
                top:0;
            }
        }
    }
}
