
.shell {
    hr {
        border: 1px solid black
    }

    h1 {
        display: inline-block;
        margin: 0;
        margin-right: 0.2rem;
    }

    li.name {
        &.resolving {
            opacity: 0.4;
        }

        .name-editor.resolving {
            // TODO -- change this so the style makes more sense
            border-bottom: 4px solid gray;
        }
    }
}

.nav-part {
    margin: 0;
    list-style: none;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;

    li {
        a {
            &:hover {
                border-bottom: 2px solid gray;
            }
        }

        &.active {
            border-bottom: 3px solid;
            a {
                border: none;
            }
        }
    }
}
