.editable-textarea {
    textarea {
        min-height: 20vh;
        min-width: 50vw;
    }

    .form-controls {
        button {
            &:first-child {
                margin-right: 1rem;
            }
        }
    }
}
