.editable-textarea {
    textarea {
        min-height: 20vh;
        min-width: 50vw;
    }

    .form-controls {
        button {
            &:first-child {
                margin-right: 1rem;
            }
        }
    }
}

.avatar-label {
    vertical-align: middle;
    display: inline-block;
    // height: 4rem;
    // width: 4rem;
    margin-right: 1rem;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;

    // display: flex;
    // align-items: center;

    img {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        object-fit: cover;
    }
}

span.label-text {
    margin-left: 1rem;
}

.avatar-input {
    display: none;
}

.edit-pencil {
    position: relative;
    top: 6px;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: blue;

    &:hover {
        color: cyan;
    }
}
