.redeem {
    > div {
        margin-top: 1rem;
    }

    label {
        display: block;
    }

    input {
        width: 100%;
        max-width: 40rem;
        padding: 1rem;
    }
}

body {
    &.invitation {
        background: linear-gradient(53deg,
            rgb(248, 242, 146), rgb(7, 190, 216), rgb(253, 87, 144),
            rgb(255, 168, 73), rgb(248, 242, 146)) rgb(255, 255, 255);
        backdrop-filter: brightness(1.8);
        height: 101vh;
        margin: 0;
        padding: 1rem;
        margin-top: -1rem;
    }

    &.hello {
        backdrop-filter: brightness(1.8);
        background: linear-gradient(304deg,
            rgb(248, 242, 146), rgb(7, 190, 216), rgb(253, 87, 144),
            rgb(255, 168, 73), rgb(248, 242, 146)) rgb(255, 255, 255);
        height: 101vh;
        margin: 0;
        padding: 1rem;
        margin-top: -1rem;
    }
}
