$main-blue: #4285f4;

@use './z-index';
@use './variables';
@use './whoami';
@use './shell';
@use './hello';
@use './components';
@use './home';
@use './new-pin';
@use './new-post';
@use './create-invitation.scss';
@use './hamburger';
@use './post';
@use './profile';
@use './invitations';
// @use './feed';
@use "../../node_modules/@nichoth/forms/style/text-input";
@use "../../node_modules/@nichoth/forms/style/button";

@keyframes spinner {
    to {transform: rotate(360deg);}
}

// body * {
//     border: 1px solid red; 
// }

.route {
    margin: 1rem;
}

.err-msg {
    border-radius: 8px;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid red;
    background-color: #fda6a6;
}

.icon {
    height: 1rem;
    width: 1rem;
    background: none;
    border: none;
    padding: 0;

    &:hover {
        opacity: 0.4;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.success {
    color: #008000;
}

body {
    background: linear-gradient(228deg, #cbc8c8, #ffffff, #dcdcdc, #ffffff, #b6b6b6);
    min-height: 100vh;
    margin: 6rem 0;
    margin-top: 0;
    font-family: sans-serif;
}

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

.error {
    border: 2px solid red;
    background-color: #ffe0e0;
    margin: 1rem;
    padding: 1rem;
}

button, .form-stuff button {
    &:hover {
        cursor: pointer;
    }
    &:disabled {
        cursor: not-allowed;
    }
}
