@use './whoami';
@use './post-list';
@use './single-image';
@use './shell';
@use './new';
@use './profile';

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.success {
    color: green;
}

body {
    // background-color: pink;
    background-color: lightgray;
    margin-bottom: 6rem;
}

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

.error {
    border: 2px solid red;
    margin: 1rem;
}

button {
    &:disabled {
        &:hover {
            cursor: wait;
        }
    }
    &:hover {
        cursor: pointer;
    }

    &.spinning:before {
        content: "";
        background: transparent;
        box-sizing: border-box;
        position: absolute;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        border-radius: 50%;
        border-top: 2px solid white;
        border-right: 2px solid transparent;
        animation: spinner 0.6s linear infinite;
    }
}

// this is here b/c it's in two routes -- the home and profile views
.icons {
    .follow-btn {
        font-family: initial;
        font-size: 3rem;
        padding: 0;
        background: none;
        border: none;
        &:hover {
            color: blue;
        }

        &.is-following {
            color: blue;
            &:hover {
                color: cyan;
            }
        }
    }
    display: inline-block;
    margin-left: 1rem;
}
