@use './whoami';
@use './post-list';
@use './single-image';
@use './shell';
@use './new';
@use './profile';
@use './hello';
@use "../../node_modules/@nichoth/forms/style/text-input";
@use "../../node_modules/@nichoth/forms/style/button";
// @use "../../node_modules/@nichoth/forms/style/index";

@keyframes spinner {
    to {transform: rotate(360deg);}
}

.success {
    color: green;
}

body {
    // background-color: pink;
    background-color: lightgray;
    margin-bottom: 6rem;
}

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1rem;
}

a {
    text-decoration: none;
}

.error {
    border: 2px solid red;
    background-color: #ffe0e0;
    margin: 1rem;
    padding: 1rem;
}

button {
    &:disabled {
        &:hover {
            cursor: wait;
        }
    }
    &:hover {
        cursor: pointer;
    }
}

// this is here b/c it's in two routes -- the home and profile views
.icons {
    .follow-btn {
        font-family: initial;
        font-size: 3rem;
        padding: 0;
        background: none;
        border: none;
        &:hover {
            color: blue;
        }

        &.is-following {
            color: blue;
            &:hover {
                color: cyan;
            }
        }
    }
    display: inline-block;
    margin-left: 1rem;
}
