.post-list {
    list-style: none;
    display: grid;
    padding: 0;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    // grid-auto-rows: max-content;
    grid-auto-rows: 70vh;

    .post {

        a {
            &:hover {
                filter: drop-shadow(2px 4px 6px black);
            }
        }

        .post-metadata {
            display: flex;

            .icons {
                button {
                    font-family: initial;
                    font-size: 3rem;
                    padding: 0;
                    background: none;
                    border: none;
                    &:hover {
                        color: blue;
                    }
                }
                display: inline-block;
                margin-left: 1rem;
            }
        }

        .content {
            margin-left: 1rem;
            display: inline-block;
            flex-grow: 1;

            .user-name {
                border-bottom: 1px solid black;
                display: block;
            }

            p {
                margin-top: 0;
                padding: 0;
            }
        }

        p {
            margin: 0;
            padding: 0 1rem;
            margin-top: 0.5rem;
            // max-height: 20%;
            // ellipsis stuff
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .inline-avatar {
            width: 2rem;
            height: 2rem;
            display: inline-block;

            // a {
            //     &:hover {
            //         filter: drop-shadow(2px 4px 6px black);
            //     }
            // }

            img {
                border: 2px solid gray;
                border-radius: 50%;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }

    .image-wrapper {
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 80%;
        object-fit: cover;
    }
}
