.post-list {
    list-style: none;
    display: grid;
    padding: 0;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    // grid-auto-rows: max-content;
    grid-auto-rows: 80vh;

    .post {

        &:hover {
            background-color: lightgray;
            filter: drop-shadow(2px 4px 6px black);
        }

        // a {
        //     &:hover {
        //         filter: drop-shadow(2px 4px 6px black);
        //     }
        // }

        p {
            margin: 0;
            padding: 0 1rem;
            margin-top: 1rem;
            max-height: 20%;
            // ellipsis stuff
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .image-wrapper {
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 80%;
        object-fit: cover;
    }
}
