.profile {
    h1 {
        display: inline-block;
        margin-bottom: 2rem;
    }

    .icons {
        margin-right: 0.5rem;
        position: relative;
        top: 1rem;
    }
}

.profile-avatar {
    width: 50%;
    max-width: 20rem;

    img {
        width: 100%;
        border-radius: 50%;
    }
}
