.profile {
    h1 {
        display: block;
        margin-bottom: 2rem;
    }
}

.profile-avatar {
    display: inline-block;
    width: 50%;
    max-width: 20rem;

    img {
        width: 100%;
        border-radius: 50%;
    }
}
