.shell {
    hr {
        border: 1px solid black
    }

    h1 {
        display: inline-block;
        margin: 0;
        margin-right: 0.2rem;
    }

    .my-avatar {
        display: inline-block;
        height: 2rem;
        width: 2rem;
        margin-right: 0.4rem;
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;

        img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    #avatar-input {
        display: none;
    }

    .edit-pencil {
        position: relative;
        top: 6px;
        background-color: transparent;
        border: none;
        font-size: 2rem;
        color: blue;

        &:hover {
            color: cyan;
        }
    }

    li.name {
        .name-editor.resolving {
            // TODO -- change this so the style makes more sense
            border-bottom: 4px solid gray;
        }
    }

}

.nav-part {
    list-style: none;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;

    li {
        a {
            &:hover {
                border-bottom: 2px solid gray;
            }
        }

        &.active {
            border-bottom: 3px solid;
            a {
                border: none;
            }
        }
    }
}
