.route.whoami {
    .form-group {
        margin-bottom: 1rem;
    }

    .sub-nav {
        display: flex;
        list-style: none;
        justify-content: space-around;
    }

    // ------------ whoami tab ----------------------
    .whoami.tab {
            button {
                margin-right: 1rem;
            }
            label {
                margin-right: 1rem;
            }

            &.save {
                form {
                    padding: 1rem;
                    border: 2px solid black;
                    border-radius: 7px;
                }
            }
            &.default {

                button.copier {
                    background-color: transparent;
                    border: none;
                    font-size: 1rem;

                    .copied {
                        position: relative;
                        bottom: 22px;
                        left: 30px;
                    }

                    &.has-copied {
                        color: blue;
                    }

                    &:hover {
                        opacity: 0.6;
                    }
                }

                pre {
                    background-color: black;
                    color: white;
                    padding: 2rem;
                }

                .keys {
                    p {
                        text-align: right;
                        padding: 0 2rem;
                    }
                }
            }
    }
    // ------------ /whoami tab ----------------------


    // ----------- whoami subnav ------------------------

    .sub-nav {
        li {
            &.active {
                border-bottom: 4px solid cyan;
            }
        }
    }

    // ----------- whoami subnav ------------------------


    hr {
        margin: 2rem 0;
    }

    .id-sources {
        display: grid;
        gap: 1rem;
        grid-template-rows: auto;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }

    .id-source {
        border: 1px solid black;
        padding: 2rem;
        display: inline-block;
        margin-bottom: 2rem;

        &.local-source {
            width: 85%;
        }
    }

    .id-paste-form {
        #key-info {
            display: block;
            width: 100%;
            // min-width: 40rem;
            height: 10rem;
            margin-bottom: 1rem;
        }
    }

    .user-name {
        .current-name {
            margin-right: 1rem;
        }
    }
}
